body {
background-color: grey;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;

}

h1, h3 { font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.column {

width:25%;
float:left;
margin: 50px;
margin-top: 10px;

}

#sf {
width: 100%;

}

#nav {
background-color: white;
padding: 10px;
position: fixed;
top: 0px;
left: 0px;
width: 100%;

}

#headline {
margin-top: 100px;
}

